
<mat-card (click) ="chooseItem(itemDog)" class="example-card">

  <img mat-card-image src="{{itemDog.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title>{{itemDog.name}}</mat-card-title>
    <p> {{itemDog.description}} </p>
      <!-- The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting. -->
    
    <mat-card-title> {{itemDog.price}}</mat-card-title>
  </mat-card-content>
  <div >
    <mat-card-actions id="nutthem" >
      <button id="clickthem" (click)="them()">Thêm</button>
    </mat-card-actions>
  </div>
</mat-card>
