.dogs {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  column-gap: 10px;

}
.chinhsua{
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  color: aqua;
  justify-items: center;
}

