.dogs {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  column-gap: 10px;

}
.chinhsua{
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  color: aqua;
  justify-items: center;
}
.loginlogout{
  margin-top: 15px;
  margin-left: 20px;
  width: 100px;
  height: 20px;

}
#login{
  color: white;
  border : 1px solid white;
  border-radius: 15px;
  background-color: rgb(206, 194, 194);
  transition: all 0.5s ease-in-out;
  &:hover{
    filter: drop-shadow(0 0 0.75rem gray);
    transition: all 0.5s ease-in-out;
  }
}
#logout{
  color: white;
  border : 1px solid white;
  border-radius: 15px;
  background-color: rgb(206, 194, 194);
  transition: all 0.5s ease-in-out;
  &:hover{
    filter: drop-shadow(0 0 0.75rem gray);
    transition: all 0.5s ease-in-out;
  }
}

.home:hover{
  text-decoration: underline;
  cursor: pointer;
}
.banphim:hover{
  text-decoration: underline;
  cursor: pointer;
}
.phukien:hover{
  text-decoration: underline;
  cursor: pointer;
}