.DogA{
    width: 300px;
    height:400px;
    background-color: #FFF0F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #87CEFA;
    color: #87CEFA;
    ;
  }
  .DogBoss{
    display: flex;
    justify-content: center;
  }
#nut{
    padding: 15px;
    border-radius: 10px;
    background-color: #87CEFA;
    color: white;
    border: 2px solid pink;
}
#ten{
    border-radius: 10px;
    background-color: #E6E6FA;
    border: 2px solid pink;
}
#gia{
    border-radius: 10px;
    background-color: #E6E6FA;
    border: 2px solid pink;

}
#soluong{
    border-radius: 10px;
    background-color: #E6E6FA;
    border: 2px solid pink;

}
#mota{
    border-radius: 10px;
    background-color: #E6E6FA;
    border: 2px solid pink;

}
#nutCheckData{
    border: 2px solid pink;
    border-radius: 10px;
    background-color: #87CEFA;
    
}